<html>
	<head>
		<title>Dog-A-Day</title>
		<style>
		body{color:purple;font-size:20px;font-family:sans-serif}
		</style>
	</head>
	<body>

{% block content %}

	<h1>Welcome to Dog-A-Day! Log in below.</h1>
	<p><a href="{{ url_for('logout') }}">Log out.</a></p>
	<p><a href="{{ url_for('register') }}">Register a new account.</a></p>
	<form method="POST" action = "/result/alldogs">
		
		{{ form.hidden_tag() }}
		<p>{{ form.email.label }} {{ form.email() }}</p>
		<p>{{ form.username.label }} {{ form.username() }}
		<p>{{ form.password.label }} {{ form.password }}</p>
		{{ form.submit() }}
	</form> 


	{% for message in get_flashed_messages() %}
	{{ message }}
	{% endfor %}
	{% endblock %}

	</body>
	</html>
