<div class="page-header">
	<h1>Set up your email so we can notify you when you get mentioned on Twitter! {% if mentions %}{{ mentions }}{% else %}{% endif %} </h1>
	<p><a> href="{{ url_for('see_all_mentions') }}">See all mentions.
	</a></p>
	<p><a href="{{ url_for('see_all_mentions') }}">See all tweets you were mentioned in.</a></p>
</div>

<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.username.label }} {{ form.username() }}
	{{ form.email.label }} {{ form.email() }}
	{{ form.submit() }}
</form> 

<div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>